* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --black: black;
    --white: whitesmoke;

    --purple: #B0BCE9;
    --dark-purple: #564787;
    --green: #B2FFD6;
    --light-green: #7FBC8C;

    --normal-font: 'Archivo', sans-serif;
}

body {
    font-family: var(--normal-font);
    background: rgb(239,201,194);
    background: linear-gradient(90deg, rgba(239,201,194,1) 0%, rgba(239,224,194,1) 84%);
}

textarea {
    resize: none;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

button {
    padding: 0.5rem 2rem;
    border: 2px solid var(--black);
    box-shadow: 2px 2px var(--black);
    color: var(--black);
    background-color: var(--green);
    font-weight: 700;
    font-size: 1rem;
    align-self: center;
}

button:hover {
    cursor: pointer;
    transition-duration: 0.5s;
    border-radius: 20px;
}

button:not(:hover) {
    transition-duration: 0.5s;
    border-radius: 0;
}

a {
    text-decoration: none;
}

.opened {
    display: flex;
}